---
import Layout from "@/layouts/Layout.astro";
import Hero from "@/components/sections/Hero.astro";
import Studies from "@/components/sections/Studies.astro";
import Sponsors from "@/components/sections/Sponsors.astro";
import Contact from "@/components/sections/Contact.astro";
---

<Layout
  title="Institut Sa Palomera - ESO, Batxillerat, Batxillerat nocturn i Cicles d'Informàtica a Blanes - Inici"
>
  <div class="flex flex-col gap-4">
    <Hero />
    <Studies />
    <Sponsors />
    <Contact />
  </div>
</Layout>
