---
interface Props {
  title: string;
}

import "../styles/global.css";
const { title } = Astro.props;
---

<!doctype html>
<html data-theme="light" lang="ca">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <div class="navbar bg-base-100">
      <div class="navbar-start">
        <div class="dropdown">
          <div tabindex="0" role="button" class="btn btn-ghost 2xl:hidden">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-5 w-5"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M4 6h16M4 12h8m-8 6h16"></path>
            </svg>
          </div>
          <ul
            tabindex="0"
            class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow"
          >
            <li><a href="/">Inici</a></li>
            <li>
              <details name="header">
                <summary>El centre</summary>
                <ul class="p-2">
                  <li><a href="/blog">Notícies</a></li>
                  <li><a href="/historia">Història</a></li>
                  <li><a href="/calendari">Calendari</a></li>
                  <li><a href="/fotografies">Fotografies</a></li>
                </ul>
              </details>
            </li>
            <li>
              <details name="header">
                <summary>Estudis</summary>
                <ul class="p-2">
                  <li><a href="/eso">ESO</a></li>
                  <li><a href="/batxillerat">Batxillerat</a></li>
                  <li><a href="/batxibac">Batxibac - Baccalauréat</a></li>
                  <li>
                    <a href="/batxillerat-nocturn">Batxillerat nocturn</a>
                  </li>
                  <li><a href="/cicles-formatius">Cicles Formatius</a></li>
                  <li>
                    <a href="/cursos-de-formacio-ocupacional-soc"
                      >Cursos de formació ocupacional (SOC)</a
                    >
                  </li>
                </ul>
              </details>
            </li>
            <li><a href="/edc" target="_blank">EDC</a></li>
            <li>
              <details name="header">
                <summary>Erasmus+</summary>
                <ul class="p-2">
                  <li><a href="/erasmus-cicles">Erasmus+ Cicles</a></li>
                  <li><a href="/erasmus-colab">Erasmus+ Projecte COLAB</a></li>
                </ul>
              </details>
            </li>
            <li><a href="/secretaria">Secretaria</a></li>
            <li><a href="/docs" target="_blank">Docs. Centre</a></li>
            <li><a href="/pdt" target="_blank">PDT</a></li>
            <li>
              <details name="header">
                <summary>Alumnes</summary>
                <ul class="p-2">
                  <li>
                    <a href="https://mail.sapalomera.cat" target="_blank"
                      >Correu</a
                    >
                  </li>
                  <li>
                    <a href="http://moodle.sapalomera.cat/" target="_blank"
                      >Moodle ESO i BAT</a
                    >
                  </li>
                  <li>
                    <a href="http://moodlecf.sapalomera.cat/" target="_blank"
                      >Moodle Cicles</a
                    >
                  </li>
                  <li><a href="/weeras" target="_blanks">WEERAS</a></li>
                  <li>
                    <a href="/consell-de-delegats" target="_blank"
                      >Consell de Delegats</a
                    >
                  </li>
                </ul>
              </details>
            </li>
          </ul>
        </div>
        <a href="/" class="btn btn-ghost text-xl">
          <img src="/logo-institut-sapalomera.png" alt="logo" class="h-14" /></a
        >
      </div>
      <div class="navbar-center hidden 2xl:flex">
        <ul class="menu menu-horizontal px-1">
          <li><a href="/">Inici</a></li>
          <li>
            <details name="header">
              <summary>El centre</summary>
              <ul class="p-2">
                <li><a href="/blog">Notícies</a></li>
                <li><a href="/historia">Història</a></li>
                <li><a href="/calendari">Calendari</a></li>
                <li><a href="/fotografies">Fotografies</a></li>
              </ul>
            </details>
          </li>
          <li>
            <details name="header">
              <summary>Estudis</summary>
              <ul class="p-2">
                <li><a href="/eso">ESO</a></li>
                <li><a href="/batxillerat">Batxillerat</a></li>
                <li><a href="/batxibac">Batxibac - Baccalauréat</a></li>
                <li><a href="/batxillerat-nocturn">Batxillerat nocturn</a></li>
                <li><a href="/cicles-formatius">Cicles Formatius</a></li>
                <li>
                  <a href="/cursos-de-formacio-ocupacional-soc"
                    >Cursos de formació ocupacional (SOC)</a
                  >
                </li>
              </ul>
            </details>
          </li>
          <li><a href="/edc" target="_blank">EDC</a></li>
          <li>
            <details name="header">
              <summary>Erasmus+</summary>
              <ul class="p-2">
                <li><a href="/erasmus-cicles">Erasmus+ Cicles</a></li>
                <li><a href="/erasmus-colab">Erasmus+ Projecte COLAB</a></li>
              </ul>
            </details>
          </li>
          <li><a href="/secretaria">Secretaria</a></li>
          <li><a href="/docs" target="_blank">Docs. Centre</a></li>
          <li><a href="/pdt" target="_blank">PDT</a></li>
          <li>
            <details name="header">
              <summary>Alumnes</summary>
              <ul class="p-2">
                <li>
                  <a href="https://mail.sapalomera.cat" target="_blank"
                    >Correu</a
                  >
                </li>
                <li>
                  <a href="http://moodle.sapalomera.cat/" target="_blank"
                    >Moodle ESO i BAT</a
                  >
                </li>
                <li>
                  <a href="http://moodlecf.sapalomera.cat/" target="_blank"
                    >Moodle Cicles</a
                  >
                </li>
                <li><a href="/weeras" target="_blanks">WEERAS</a></li>
                <li>
                  <a href="/consell-de-delegats" target="_blank"
                    >Consell de Delegats</a
                  >
                </li>
              </ul>
            </details>
          </li>
          <li>
            <details name="header">
              <summary>Professorat</summary>
              <ul class="p-2">
                <li>
                  <a href="https://mail.sapalomera.cat" target="_blank"
                    >Correu</a
                  >
                </li>
                <li>
                  <a href="https://sapalomera.ieduca.com" target="_blank"
                    >iEduca</a
                  >
                </li>
                <li><a href="/saga" target="_blank">Saga</a></li>
                <li><a href="/esfera" target="_blank">Esfer@</a></li>
              </ul>
            </details>
          </li>
          <li><a href="/ampa">AMPA</a></li>
          <li><a href="/contacte">Contacte</a></li>
        </ul>
      </div>
      <div class="navbar-end">
        <a class="btn">Button</a>
      </div>
    </div>
    <div class="flex my-12 items-center justify-center">
      <slot />
    </div>
    <footer
      class="footer sm:footer-horizontal bg-base-200 text-base-content p-10"
    >
      <nav>
        <h6 class="footer-title">El centre</h6>
        <a class="link link-hover">El centre</a>
        <a class="link link-hover">Notícies</a>
        <a class="link link-hover">Fotografies</a>
      </nav>
      <nav>
        <h6 class="footer-title">Els estudis</h6>
        <a class="link link-hover">ESO</a>
        <a class="link link-hover">Batxillerat</a>
        <a class="link link-hover">Batxibac - Baccalauréat</a>
        <a class="link link-hover">Batxillerat nocturn</a>
        <a class="link link-hover">Sistemes Microinformàtics i Xarxes (SMX)</a>
        <a class="link link-hover"
          >Administració de Sistemes en Xarxa (ASIX) DUAL</a
        >
        <a class="link link-hover"
          >Desenvolupament d'Aplicacions Web (DAW) DUAL</a
        >
      </nav>
      <nav>
        <h6 class="footer-title">RECURSOS EDUCATIUS</h6>
        <a class="link link-hover">Biblioteca</a>
        <a class="link link-hover">Orientació Acadèmica</a>
        <a class="link link-hover">WEERAS</a>
        <a class="link link-hover">iEDUCA</a>
      </nav>
      <nav>
        <h6 class="footer-title">INFORMACIÓ</h6>
        <a class="link link-hover">Contacte</a>
        <a class="link link-hover">Telegram</a>
        <a class="link link-hover">AMPA</a>
        <a class="link link-hover"
          >Seguiment de l'alumnat per part de les famílies</a
        >
      </nav>
    </footer>
    <footer
      class="footer bg-base-200 text-base-content border-base-300 border-t px-10 py-4"
    >
      <aside class="grid-flow-col items-center">
        <img src="/logo-institut-sapalomera.png" alt="Logo" class="h-10 mr-4" loading="lazy" />
        <p>
          INSTITUT SA PALOMERA | C/ Vilar Petit, 24 · 17300 Blanes (Girona)
          <br />
          Tel. 972 350 909 | Fax 972 352 440 | info@sapalomera.cat
        </p>
      </aside>
      <nav class="md:place-self-center md:justify-self-end">
        <div class="grid grid-flow-col gap-4">
          <a>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              class="fill-current"
            >
              <path
                d="M24 4.557c-.883.392-1.832.656-2.828.775 1.017-.609 1.798-1.574 2.165-2.724-.951.564-2.005.974-3.127 1.195-.897-.957-2.178-1.555-3.594-1.555-3.179 0-5.515 2.966-4.797 6.045-4.091-.205-7.719-2.165-10.148-5.144-1.29 2.213-.669 5.108 1.523 6.574-.806-.026-1.566-.247-2.229-.616-.054 2.281 1.581 4.415 3.949 4.89-.693.188-1.452.232-2.224.084.626 1.956 2.444 3.379 4.6 3.419-2.07 1.623-4.678 2.348-7.29 2.04 2.179 1.397 4.768 2.212 7.548 2.212 9.142 0 14.307-7.721 13.995-14.646.962-.695 1.797-1.562 2.457-2.549z"
              ></path>
            </svg>
          </a>
          <a>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              class="fill-current"
            >
              <path
                d="M19.615 3.184c-3.604-.246-11.631-.245-15.23 0-3.897.266-4.356 2.62-4.385 8.816.029 6.185.484 8.549 4.385 8.816 3.6.245 11.626.246 15.23 0 3.897-.266 4.356-2.62 4.385-8.816-.029-6.185-.484-8.549-4.385-8.816zm-10.615 12.816v-8l8 3.993-8 4.007z"
              ></path>
            </svg>
          </a>
          <a>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              class="fill-current"
            >
              <path
                d="M9 8h-3v4h3v12h5v-12h3.642l.358-4h-4v-1.667c0-.955.192-1.333 1.115-1.333h2.885v-5h-3.808c-3.596 0-5.192 1.583-5.192 4.615v3.385z"
              ></path>
            </svg>
          </a>
        </div>
      </nav>
    </footer>
  </body>
</html>

<style>
  html,
  body {
    scroll-behavior: smooth;
  }
</style>
