---
interface Props {
  title: string;
}
import "@fontsource/fredoka-one";
import "@/styles/global.css";
import { Image } from "astro:assets";
import logo from "./public/images/logo-institut-sapalomera.png";
const { title } = Astro.props;

const currentPath = Astro.url.pathname;
const isHomepage = currentPath === "/";
---

<!doctype html>
<html data-theme="light" lang="ca">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <!-- Title -->
    <title>{title}</title>

    <!-- Description -->
    <meta
      name="description"
      content="Web del centre educatiu de secundària Institut Sa Palomera a on s'imparteixen els estudis d'ESO, Batxillerat (Batxibac), Batxillerat nocturn i Cicles d'Informàtica (SMX, ASIX, DAW-DUAL) situat a la població de Blanes"
    />

    <!-- Keywords -->
    <meta
      name="keywords"
      content="Institut Sa Palomera, ESO, Batxillerat, Cicles Formatius, Informàtica, Grau Mitjà, Grau Superior, Educació, Blanes, Institut públic, Formació professional, Estudis tecnològics"
    />

    <!-- Author -->
    <meta name="author" content="Institut Sa Palomera" />

    <!-- Open Graph -->
    <meta
      property="og:title"
      content="Institut Sa Palomera - ESO, Batxillerat, Batxillerat nocturn i Cicles d'Informàtica a Blanes - Inici"
    />
    <meta
      property="og:description"
      content="Web del centre educatiu de secundària Institut Sa Palomera a on s'imparteixen els estudis d'ESO, Batxillerat (Batxibac), Batxillerat nocturn i Cicles d'Informàtica (SMX, ASIX, DAW-DUAL) situat a la població de Blanes"
    />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="ca_ES" />
    <meta property="og:url" content="https://www.sapalomera.cat" />
    <meta
      property="og:image"
      content="https://www.sapalomera.cat/assets/logo-sapalomera.png"
    />

    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta
      name="twitter:title"
      content="Institut Sa Palomera - ESO, Batxillerat, Batxillerat nocturn i Cicles d'Informàtica a Blanes - Inici"
    />
    <meta
      name="twitter:description"
      content="Web del centre educatiu de secundària Institut Sa Palomera a on s'imparteixen els estudis d'ESO, Batxillerat (Batxibac), Batxillerat nocturn i Cicles d'Informàtica (SMX, ASIX, DAW-DUAL) situat a la població de Blanes."
    />
    <meta
      name="twitter:image"
      content="https://www.sapalomera.cat/assets/logo-sapalomera.png"
    />
  </head>
  <body>
    <div
      id="navbar"
      class={`navbar fixed top-0 left-0 right-0 z-50 transition-all duration-300 ${
        isHomepage ? "bg-transparent " : "bg-base-100 text-base-content"
      }`}
    >
      <div class="navbar-start">
        <div class="dropdown">
          <div
            tabindex="0"
            role="button"
            id="dropdown-button"
            class="btn btn-ghost xl:hidden"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-5 w-5"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M4 6h16M4 12h8m-8 6h16"></path>
            </svg>
          </div>
          <ul
            tabindex="0"
            class="menu menu-sm dropdown-content text-black bg-base-100 rounded-box z-50 mt-3 w-52 p-2 shadow"
          >
            <li><a href="/">Inici</a></li>
            <li>
              <details name="el-centre">
                <summary>El centre</summary>
                <ul class="pl-4">
                  <li><a href="/noticies">Notícies</a></li>
                  <li><a href="/historia">Història</a></li>
                  <li><a href="/calendari">Calendari</a></li>
                </ul>
              </details>
            </li>
            <li>
              <details name="estudis">
                <summary>Estudis</summary>
                <ul class="pl-4">
                  <li><a href="/estudis/eso">ESO</a></li>
                  <li><a href="/estudis/batxillerat">Batxillerat</a></li>
                  <li><a href="/estudis/batxibac">Batxibac - Baccalauréat</a></li>
                  <li><a href="/estudis/batxillerat-nocturn">Batxillerat nocturn</a></li>
                  <li>
                    <details name="cicles-formatius">
                      <summary>Cicles Formatius</summary>
                      <ul class="pl-4">
                        <li><a href="/cicles-formatius/smx">Sistemes Microinformàtics i Xarxes (SMX)</a></li>
                        <li><a href="/cicles-formatius/daw">Desenvolupament d'Aplicacions Web (DAW) DUAL</a></li>
                        <li><a href="/cicles-formatius/asix">Administració de Sistemes en Xarxa (ASIX) DUAL</a></li>
                      </ul>
                    </details>
                  </li>
                </ul>
              </details>
            </li>
            <li>
              <details name="erasmus">
                <summary>Erasmus+</summary>
                <ul class="pl-4">
                  <li><a href="/erasmus-cicles">Erasmus+ Cicles</a></li>
                  <li><a href="/erasmus-colab">Erasmus+ Projecte COLAB</a></li>
                </ul>
              </details>
            </li>
            <li>
              <details name="serveis">
                <summary>Serveis</summary>
                <ul class="pl-4">
                  <li><a href="/borsa" target="_blank">Borsa de Treball</a></li>
                  <li><a href="/cantina">Cantina</a></li>
                  <li><a href="/biblioteca" target="_blank">Biblioteca</a></li>
                </ul>
              </details>
            </li>
            <li>
              <details name="alumnes">
                <summary>Alumnes</summary>
                <ul class="pl-4">
                  <li><a href="/correu" target="_blank">Correu</a></li>
                  <li><a href="http://moodle.sapalomera.cat/" target="_blank">Moodle ESO i BAT</a></li>
                  <li><a href="http://moodlecf.sapalomera.cat/" target="_blank">Moodle Cicles</a></li>
                  <li><a href="/weeras" target="_blank">WEERAS</a></li>
                  <li><a href="/consell-de-delegats" target="_blank">Consell de Delegats</a></li>
                </ul>
              </details>
            </li>
            <li>
              <details name="professorat">
                <summary>Professorat</summary>
                <ul class="pl-4">
                  <li><a href="/documentacio" target="_blank">Documentació</a></li>
                  <li><a href="/correu" target="_blank">Correu</a></li>
                  <li><a href="https://sapalomera.ieduca.com" target="_blank">iEduca</a></li>
                  <li><a href="/saga" target="_blank">Saga</a></li>
                  <li><a href="/esfera" target="_blank">Esfer@</a></li>
                </ul>
              </details>
            </li>
            <li><a href="/secretaria">Secretaria</a></li>
            <li><a href="/ampa">AMPA</a></li>
            <li><a href="/#contacte">Contacte</a></li>
          </ul>
        </div>
        <a href="/" class="flex items-center">
          <Image
            src={logo}
            alt="logo"
            width={450}
            height={174}
            class="h-14 w-auto hover:scale-105 transition-transform duration-200"
            loading="eager"
          />
        </a>
      </div>
      <div class="navbar-center hidden xl:flex">
        <ul class="menu menu-horizontal px-1">
          <li><a href="/">Inici</a></li>
          <li>
            <details name="el-centre">
              <summary>El centre</summary>
              <ul class="p-2 bg-base-100 rounded-box absolute z-50 text-black">
                <li><a href="/noticies">Notícies</a></li>
                <li><a href="/historia">Història</a></li>
                <li><a href="/calendari">Calendari</a></li>
              </ul>
            </details>
          </li>
          <li>
            <details name="estudis">
              <summary>Estudis</summary>
              <ul class="p-2 bg-base-100 rounded-box absolute z-50 text-black">
                <li><a href="/eso">ESO</a></li>
                <li><a href="/batxillerat">Batxillerat</a></li>
                <li><a href="/batxibac">Batxibac - Baccalauréat</a></li>
                <li><a href="/batxillerat-nocturn">Batxillerat nocturn</a></li>
                <li>
                  <details name="cicles-formatius">
                    <summary>Cicles Formatius</summary>
                    <ul class="p-2 bg-base-100 rounded-box absolute z-50 text-black">
                      <li><a href="/cicles-formatius/smx">Sistemes Microinformàtics i Xarxes (SMX)</a></li>
                      <li><a href="/cicles-formatius/daw">Desenvolupament d'Aplicacions Web (DAW) DUAL</a></li>
                      <li><a href="/cicles-formatius/asix">Administració de Sistemes en Xarxa (ASIX) DUAL</a></li>
                    </ul>
                  </details>
                </li>
              </ul>
            </details>
          </li>
          <li>
            <details name="erasmus">
              <summary>Erasmus+</summary>
              <ul class="p-2 bg-base-100 rounded-box absolute z-50 text-black">
                <li><a href="/erasmus-cicles">Erasmus+ Cicles</a></li>
                <li><a href="/erasmus-colab">Erasmus+ Projecte COLAB</a></li>
              </ul>
            </details>
          </li>
          <li>
            <details name="serveis">
              <summary>Serveis</summary>
              <ul class="p-2 bg-base-100 rounded-box absolute z-50 text-black">
                <li>
                  <a href="/borsa" target="_blank">Borsa de Treball</a>
                </li>
                <li>
                  <a href="/cantina">Cantina</a>
                </li>
                <li><a href="/esfera" target="_blank">Biblioteca</a></li>
              </ul>
            </details>
          </li>
          <li>
            <details name="alumnes">
              <summary>Alumnes</summary>
              <ul class="p-2 bg-base-100 rounded-box absolute z-50 text-black">
                <li>
                  <a href="/correu" target="_blank">Correu</a>
                </li>
                <li>
                  <a href="http://moodle.sapalomera.cat/" target="_blank"
                    >Moodle ESO i BAT</a
                  >
                </li>
                <li>
                  <a href="http://moodlecf.sapalomera.cat/" target="_blank"
                    >Moodle Cicles</a
                  >
                </li>
                <li><a href="/weeras" target="_blanks">WEERAS</a></li>
                <li>
                  <a href="/consell-de-delegats" target="_blank"
                    >Consell de Delegats</a
                  >
                </li>
              </ul>
            </details>
          </li>

          <li>
            <details name="professorat">
              <summary>Professorat</summary>
              <ul class="p-2 bg-base-100 rounded-box absolute z-50 text-black">
                <li>
                  <a href="/documentacio" target="_blank">Documentació</a>
                </li>
                <li>
                  <a href="/correu" target="_blank">Correu</a>
                </li>
                <li>
                  <a href="https://sapalomera.ieduca.com" target="_blank"
                    >iEduca</a
                  >
                </li>
                <li><a href="/saga" target="_blank">Saga</a></li>
                <li><a href="/esfera" target="_blank">Esfer@</a></li>
              </ul>
            </details>
          </li>
          <li><a href="/secretaria">Secretaria</a></li>
          <li><a href="/ampa">AMPA</a></li>
          <li><a href="/#contacte">Contacte</a></li>
        </ul>
      </div>
      <div class="navbar-end">
        <!-- <a class="btn">Button</a> -->
      </div>
    </div>
    <div>
      <slot />
    </div>
    <footer
      class="footer sm:footer-horizontal bg-base-200 text-base-content p-10"
    >
      <div class="container mx-auto max-w-6xl">
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8">
          <nav>
            <h6 class="footer-title">EL CENTRE</h6>
            <a href="/#historia" class="link link-hover block">El centre</a>
            <a href="/noticies" class="link link-hover block">Notícies</a>
          </nav>
          <nav>
            <h6 class="footer-title">ELS ESTUDIS</h6>
            <a href="/estudis/eso" class="link link-hover block">ESO</a>
            <a href="/estudis/batxillerat" class="link link-hover block">Batxillerat</a>
            <a href="/estudis/batxibac" class="link link-hover block"
              >Batxibac - Baccalauréat</a
            >
            <a href="/estudis/batxillerat-nocturn" class="link link-hover block"
              >Batxillerat nocturn</a
            >
            <a href="/estudis/smx" class="link link-hover block"
              >Sistemes Microinformàtics i Xarxes (SMX)</a
            >
            <a href="/estudis/asix" class="link link-hover block"
              >Administració de Sistemes en Xarxa (ASIX) DUAL</a
            >
            <a href="/estudis/daw" class="link link-hover block"
              >Desenvolupament d'Aplicacions Web (DAW) DUAL</a
            >
            <a href="/estudis/daw-daw" class="link link-hover block"
              >Curs Especialització en Desenvolupament de Videojocs i Realitat Virtual</a
            >
            <a href="/estudis/iabd" class="link link-hover block"
              >Curs Especialització Intel·ligència Artificial i Big Data</a
            >
          </nav>
          <nav>
            <h6 class="footer-title">RECURSOS EDUCATIUS</h6>
            <a href="/biblioteca" class="link link-hover block">Biblioteca</a>
            <a href="/orientacio-academica" class="link link-hover block"
              >Orientació Acadèmica</a
            >
            <a href="/weeras" class="link link-hover block">WEERAS</a>
            <a
              href="https://sapalomera.ieduca.com"
              target="_blank"
              class="link link-hover block">iEDUCA</a
            >
          </nav>
          <nav>
            <h6 class="footer-title">INFORMACIÓ</h6>
            <a href="/#contacte" class="link link-hover block">Contacte</a>
            <a href="/ampa" class="link link-hover block">AMPA</a>
            <a href="/seguiment-alumnat" class="link link-hover block"
              >Seguiment de l'alumnat per part de les famílies</a
            >
          </nav>
        </div>
      </div>
    </footer>
    <footer
      class="footer bg-base-200 text-base-content border-base-300 border-t px-10 py-4"
    >
      <div
        class="container mx-auto max-w-6xl flex justify-between items-center"
      >
        <div class="flex items-center gap-4">
          <Image
            src={logo}
            alt="Logo"
            width={450}
            height={174}
            class="h-10 w-auto"
            loading="lazy"
          />
          <p class="text-sm">
            INSTITUT SA PALOMERA | C/ Vilar Petit, 24 · 17300 Blanes (Girona)
            <br />
            Tel. 972 350 909 | Fax 972 352 440 | info@sapalomera.cat
          </p>
        </div>
        <div class="text-sm">
          <a href="/politica-de-privacitat" class="link link-hover"
            >Política de privacitat</a
          >
        </div>
        <div class="flex gap-4">
          <a
            href="https://x.com/inssapalomera"
            target="_blank"
            class="hover:opacity-80 transition-opacity"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 50 50"
              class="fill-current"
            >
              <path
                d="M 11 4 C 7.134 4 4 7.134 4 11 L 4 39 C 4 42.866 7.134 46 11 46 L 39 46 C 42.866 46 46 42.866 46 39 L 46 11 C 46 7.134 42.866 4 39 4 L 11 4 z M 13.085938 13 L 21.023438 13 L 26.660156 21.009766 L 33.5 13 L 36 13 L 27.789062 22.613281 L 37.914062 37 L 29.978516 37 L 23.4375 27.707031 L 15.5 37 L 13 37 L 22.308594 26.103516 L 13.085938 13 z M 16.914062 15 L 31.021484 35 L 34.085938 35 L 19.978516 15 L 16.914062 15 z"
              ></path>
            </svg>
          </a>
          <a
            href="https://youtube.com/institutsapalomera"
            target="_blank"
            class="hover:opacity-80 transition-opacity"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              class="fill-current"
            >
              <path
                d="M19.615 3.184c-3.604-.246-11.631-.245-15.23 0-3.897.266-4.356 2.62-4.385 8.816.029 6.185.484 8.549 4.385 8.816 3.6.245 11.626.246 15.23 0 3.897-.266 4.356-2.62 4.385-8.816-.029-6.185-.484-8.549-4.385-8.816zm-10.615 12.816v-8l8 3.993-8 4.007z"
              ></path>
            </svg>
          </a>
          <a
            href="https://facebook.com/institutsapalomera"
            target="_blank"
            class="hover:opacity-80 transition-opacity"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              class="fill-current"
            >
              <path
                d="M9 8h-3v4h3v12h5v-12h3.642l.358-4h-4v-1.667c0-.955.192-1.333 1.115-1.333h2.885v-5h-3.808c-3.596 0-5.192 1.583-5.192 4.615v3.385z"
              ></path>
            </svg>
          </a>
          <a
            href="https://instagram.com/inssapalomera"
            target="_blank"
            class="hover:opacity-80 transition-opacity"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 50 50"
              class="fill-current"
            >
              <path
                d="M 16 3 C 8.83 3 3 8.83 3 16 L 3 34 C 3 41.17 8.83 47 16 47 L 34 47 C 41.17 47 47 41.17 47 34 L 47 16 C 47 8.83 41.17 3 34 3 L 16 3 z M 37 11 C 38.1 11 39 11.9 39 13 C 39 14.1 38.1 15 37 15 C 35.9 15 35 14.1 35 13 C 35 11.9 35.9 11 37 11 z M 25 14 C 31.07 14 36 18.93 36 25 C 36 31.07 31.07 36 25 36 C 18.93 36 14 31.07 14 25 C 14 18.93 18.93 14 25 14 z M 25 16 C 20.04 16 16 20.04 16 25 C 16 29.96 20.04 34 25 34 C 29.96 34 34 29.96 34 25 C 34 20.04 29.96 16 25 16 z"
              ></path>
            </svg>
          </a>
        </div>
      </div>
    </footer>
  </body>
</html>

<style>
  html,
  body {
    scroll-behavior: smooth;
  }
</style>

<script>
  // esto solo pa la página de inicio
  if (window.location.pathname === "/") {
    const navbar = document.getElementById("navbar");
    const dropdownButton = document.getElementById("dropdown-button");

    const handleScroll = () => {
      if (window.scrollY > 50) {
        navbar?.classList.remove(
          "bg-transparent",
          "text-black",
          "xl:text-white",
        );
        dropdownButton?.classList.remove("text-white");
        dropdownButton?.classList.add("text-black");
        navbar?.classList.add("bg-base-100", "shadow-md", "text-base-content");
      } else {
        dropdownButton?.classList.add("text-white");
        navbar?.classList.add("bg-transparent", "text-black", "xl:text-white");
        navbar?.classList.remove(
          "bg-base-100",
          "shadow-md",
          "text-base-content",
        );
        dropdownButton?.classList.remove("text-black");
      }
    };

    handleScroll();

    window.addEventListener("scroll", handleScroll);
  }

  // esto es pa los menus pa que se cierren al hacer scroll
  document.addEventListener('DOMContentLoaded', () => {
    const mainMenus = document.querySelectorAll('details[name]:not([name="cicles-formatius"])');
    
    const handleMenuScroll = () => {
      const allMenus = document.querySelectorAll('details[name]');
      allMenus.forEach(menu => {
        (menu as HTMLDetailsElement).open = false;
      });
    };

    window.addEventListener("scroll", handleMenuScroll);
    
    // esto es pa que se cierren los menus principales excepto el que se está mostrando
    mainMenus.forEach(menu => {
      (menu as HTMLDetailsElement).addEventListener('toggle', (e) => {
        if ((menu as HTMLDetailsElement).open) {
          mainMenus.forEach(otherMenu => {
            if (otherMenu !== menu) {
              (otherMenu as HTMLDetailsElement).open = false;
              // esto es pa que se cierren los submenus de cicles-formatius si no estamos en el menu de estudis
              if ((menu as HTMLDetailsElement).getAttribute('name') !== 'estudis') {
                const ciclesMenu = otherMenu.querySelector('details[name="cicles-formatius"]');
                if (ciclesMenu) (ciclesMenu as HTMLDetailsElement).open = false;
              }
            }
          });
        }
      });
    });
  });
</script>
